<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.brstf.wishlist"
    android:versionCode="1"
    android:versionName="0.5" >

    <uses-sdk
        android:minSdkVersion="5"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/CustomTheme" >
        <activity
            android:name=".ui.WLHomeActivity"
            android:label="@string/actionbar_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Start the share activity to add a Play listing (Activity is transparent) -->
        <activity
            android:name="com.brstf.wishlist.ShareActivity"
            android:label="@string/add_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="play.google.com"
                    android:scheme="http" />
                <data
                    android:host="play.google.com"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.brstf.wishlist.ui.AddTags"
            android:label="@string/actionbar_name" />
        
        <activity
            android:name="com.brstf.wishlist.ui.WLListActivity"
            android:label="@string/actionbar_name" />

        <service android:name=".service.IconService" />
        <service android:name=".service.AddEntryService" />
        <service android:name=".service.PendingService" />

        <provider
            android:name="com.brstf.wishlist.provider.WLProvider"
            android:authorities="com.brstf.wishlist" />

        <activity
            android:name=".ui.SearchActivity"
            android:label="@string/label_searchactivity"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>

        <meta-data
            android:name="android.app.default_searchable"
            android:value=".ui.SearchActivity" />
    </application>

</manifest>